.thumbnail {
  height: 370px;
}

.thumbnail img {
  max-height: 150px;
}

.thumbnail .description {
  color: #7f7f7f;
  height: 90px;
}

.price {
  font-weight: bold;
  font-size: 16px;
}

.buy-panel {
  margin-bottom: 10px;
}
